:root {
  width: 100%;
  --darkest: rgb(0, 0, 0);
  --less-dark: rgb(90, 71, 81);
  --mid-range: rgb(136, 106, 122);
  --less-light: rgb(190, 148, 171);
  --lightest: rgb(248, 202, 225);
}

body {
  display:flex;
  flex-wrap: wrap;
  height: 100%; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:black;
}

.linear-gradient {
  background: repeating-radial-gradient(circle at center,  var(--darkest) 0, var(--less-dark), var(--mid-range), var(--less-light), 
  var(--lightest), var(--less-light), var(--mid-range), var(--less-dark),  var(--darkest) 80px);
}

header {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height:100px;
  margin-bottom: 20px;
  justify-content: center;
}

h1 {
  padding: 20px;
  border: solid 10px black;
  background-color: var(--lightest);
}

main {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display:block;
  margin-bottom: 20px;
  height: 500px;
  width: 600px;
  border: solid 10px black;
  padding:20px;
  background-color: rgb(248, 202, 225);
}

.card-title {
  width: 100%;
  height:fit-content;
  text-align:center;
  font-size: 24px;
  margin-bottom: 20px;
}

.card-text {
  height: 150px;
  text-align:left;
  font-size: 18px;
  font-weight:500;
  margin-bottom: 20px;
  border: solid black 5px;
  border-radius: 15px;
  padding: 20px;
}

pre {
  font-family: monospace;
  font-size: 20px;
}

p {
  font-size: 100%;
}

.card-snippet {
  width: 100%;
  height: 225px;
  text-align:left;
  border: solid black 5px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 0px;
  user-select: all;
}

::selection {
  color:  rgb(248, 202, 225);
  background: black;
}
